# Ignorar arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar banco de dados SQLite
db.sqlite3

# Ignorar arquivos de ambiente virtual
venv/
env/
.venv/

# Ignorar arquivos de configuração sensíveis
.env
.env.local
.env.*.local